html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: consolas;
}

.container {
    width: 100%;
    height: 100vh;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* box-sizing: border-box;
    overflow: hidden; */
}

.container .name {
    position: absolute;
    font-size: 40px;
    letter-spacing: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media(max-width:768px) {
    .container .name {
        transform: translate(-60%, -50%);
    }
}

@media(max-width:576px) {
    .container .name {
        letter-spacing: 5px;
    }
}

.container ul {
    position: absolute;
    top: 40px;
    left: 40px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
}

.container ul li {
    margin-right: 20px;
    animation: ustten-gel 800ms ease-in-out;
}

@keyframes ustten-gel {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.container ul li a {
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container ul li a:before {
    content: '';
    position: absolute;
    bottom: -4px;
    left: -2.5%;
    width: 105%;
    transition: 0.3s;
    background: rgba(200, 100, 0, 0.8);
    /* transform-origin: bottom center;
    transform: translateY(10px); */
    border-radius: 18%;
}

.container ul li a:hover:before {
    height: 4px;
    /* transform: translateY(6px); */
}

.container .bg-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("bg-1.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    box-shadow: 0 0 10px;
    z-index: -1;
    filter: blur(10px);
    animation: clip-4 800ms forwards ease-in-out 1;
}

.container .bg-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(200, 100, 0, 0.8);
    animation: clip-3 800ms forwards ease-in-out 1;
}

.container .bg-2:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(200, 100, 0, 0.6);
    animation: clip-1 800ms forwards ease-in-out 1;
    animation-delay: 600ms;
}

.container .bg-2:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(200, 100, 0, 0.4);
    animation: clip-2 800ms forwards ease-in-out 1;
    animation-delay: 300ms;
}

@keyframes clip-1 {
    0% {
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 100% 100%);
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 100% 100%);
    }
    100% {
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 80% 90%);
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 80% 90%);
    }
}

@keyframes clip-2 {
    0% {
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 100% 100%);
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 100% 100%);
    }
    100% {
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 75% 84%);
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 75% 84%);
    }
}

@keyframes clip-3 {
    0% {
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 100% 100%);
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 100% 100%);
    }
    100% {
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 69% 78%);
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 69% 78%);
    }
}

@keyframes clip-4 {
    0% {
        -webkit-clip-path: polygon(100% 0, 11% 16%, 0 100%, 11% 16%);
        clip-path: polygon(100% 0, 11% 16%, 0 100%, 11% 16%);
    }
    100% {
        -webkit-clip-path: polygon(100% 0, 21% 46%, 0 100%, 11% 16%);
        clip-path: polygon(100% 0, 21% 46%, 0 100%, 11% 16%);
    }
}